.appWrapper {
    display: flex;

    main {
        height: 100vh;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .appWrapper {
        display: flex;
        flex-direction: column;
    
        main {
            height: 100vh;
            max-width: 100%;
        }
    }
}